<!-- views/dashboard.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }

    .dashboard-container {
      max-width: 400px;
      margin: 0 auto;
      margin-top: 50px;
      padding: 20px;
      background-color: #ffffff;
      border: 1px solid #ced4da;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .dashboard-link {
      display: block;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="dashboard-container">
      <h1 class="text-center">Welcome, <%= user.username %>!</h1>
      <a href="/add-details" class="dashboard-link btn btn-primary btn-block">Add Details</a>
      <a href="/search" class="dashboard-link btn btn-secondary btn-block">Search User</a>
      <a href="/" class="dashboard-link btn btn-danger btn-block">Logout</a>
    </div>
  </div>

  <!-- Bootstrap JS, jQuery, Popper.js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
